body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #fefeff, #fcfcfc);
  background-size: cover;
  background-attachment: fixed;
  color: #5f5f5f;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.logo {
  max-width: 15vh;
}

.navbar {
  text-align: center;
  color: #f8f9fa;
  background-color: #023d7c;
}

.nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #f8f9fa;
}

.nav-link,
.navbar-brand {
  color: #fff !important;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header {
  background-color: #414141;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.banner {
  width: 100%;
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0097FE;
}

@media (max-width: 780px) {
  .banner {
    height: calc(100vh - 56px);
  }
}

.slider .slides .slide {
  display: none;
}

.slider .slides .slide img {
  width: 100%;
  object-fit: cover;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background: #f8f9fa;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.campaign {
  font-family: cursive;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-left: 300px;
}
.campaign span {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  color: #0b498b;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}
.campaign span::after {
  content: attr(data-content);
  display: inline-block;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
  color: #0b498b;
  font-weight: normal;
  margin-left: 10px;
  opacity: 0;
}
.campaign span:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

@media screen and (max-width: 780px) {
  .slider .slides .slide img {
    max-height: 500px;
    width: 100%;
  }

  body {
    color: #252525;
  }

  header {
    background-color: #ffffff;
    z-index: 1000;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.carousel-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #076dd4;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer.visible {
  display: block;
}

.form {
  max-width: 600px;
  margin: auto;
}

.input,
.button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: #0056b3;
}

#historiaimg {
  text-align: center;
}

.historiaimg {
  max-width: 30%;
  height: auto;
  margin-bottom: 20px;
}

.paragrafoHistoria {
  background-color: #f8f9fa;
  border-left: 5px solid #007bff;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mt-4 {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

#tituloAcrostico {
  background-color: #c1ffbb;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

